* {
  margin: 0px;
  padding: 0;
  /* doubt */
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  background-color: #fff;
  color: #393939;
  font-weight: 300;
  font-size: 20px;
  /* doubt */
  text-rendering: optimizeLegibility;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(bg.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  max-width: 1140px;
  margin: 0 auto;
}

.logo {
  height: 100px;
  width: 100px;
  float: left;
  margin-top: 10px;
}
.navbar {
  float: right;
  list-style: none;
  margin-top: 50px;
}
.navbar li {
  display: inline-block;
  margin-left: 40px;
}

.navbar li a:link,
.navbar li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.navbar li a:hover,
.navbar li a:active {
  border-bottom: 2px solid #d87a0c;
}

.home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1140px;
  transform: translate(-50%, -50%);
}

.home-text span {
  font-weight: 500;
  font-size: 1.8rem;
  color: #fff;
}

button {
  position: relative;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #e67e22;
  font-size: 14px;
  text-transform: none;
  font-weight: 60;
  letter-spacing: 2px;
  background: transparent;
  color: #e67e22;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: #e67e22;
  box-shadow: 0 0 30px 5px rgb(236, 153, 0);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #fff;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
/* -----------------------------feature section----------------------------- */
.section-features {
  padding: 80px 200px;
  height: 80vh;
  text-align: center;
}
.f_top p{
  /* margin-top: 60px; */
  margin-bottom: 30px; 
}
 hr{
  margin-top: 30px;
  margin-bottom: 30px; 
  background-color: #e67e22;
  height: 5px;
  width: 100px;
  margin-left: 510px;
  border: #e67e22;
  border-radius: 10px;
}
.f_bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: justify;
  
}
.features i{
  height: 80px;
  font-size: 50px;
  color: #e67e22;
}
.section-menu img{
  height: 270px;
  width: 377px;
}
.section-menu{
  margin-top: 90px;
}
.section-work{
  background-color: rgb(245,245, 245);
  padding: 80px 200px;
  height: 100vh;
  text-align: center;
}
.content{
  display: flex;
  gap: 110px;
  margin-top: 60px;
  margin-left: 280px;
}
.content img{
  height: 430px;
}
.download{
  display: flex;
  gap: 20px;
  margin-top: 100px;
}
.download img{
  height: 50px;
}
li{
  margin-top: 15px;
  margin-bottom: 40px;
  text-align: justify;
}
.section-cities{
  padding: 80px 200px;
  height: 80vh;
  text-align: center;
}
.cities{
  display: flex;
  gap: 40px;
  text-align: left;
}
.city img{
  height: 160px;
  width: 250px;
}
.city i{
  color: #d87a0c;
}
.city a{
  color: #d87a0c;
}
.city h3{
  margin: 20px 0px;
}
.city h4{
  margin: 10px 0px;
}
.section-testimonials{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(back-customers.jpg);
  height: 60vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 200px;
  height: 100vh;
  text-align: center;
  color: #fff;
}
.t-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: justify;
  line-height: 27px;
}
.user{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.user span{
  margin-top: 9px;
}
.t-bottom img{
  height: 50px;
  border-radius: 50%;
}
.section-plans{
  background-color: rgb(245,245, 245);
  padding: 80px 200px;
  height: 97vh;
  text-align: center;
}
.p-bottom{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.plans{
  height: 400px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #393939;
  text-align: left;
  padding: 20px 15px;
  background-color: #fff;
  box-shadow: #393939;
}
.plans span{
  font-size: 70px;
  /* color: #d87a0c; */
}
.plans .cost{
  color: #d87a0c;
}
.plans h4{
  line-height: 30px;
  font-weight: 300;
}
.plans h4 i{
  color: #d87a0c;
}
.plans button{
  margin-left: 60px;
}
hr.default{
  all:revert;
  margin: 15px -15px;

}
/* -------------------------------------------------- */
.section-forms{
  padding: 80px 200px;
  height: 87vh;
  text-align: center;
}
form{
  text-align: left;
}
form input{
  margin-bottom: 10px;
  height: 40px;
  width: 400px;

}
